html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

li a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #FFF;
}

li a:hover {
  color: #FFBC09 !important;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 0;
  }
}

.bg-danger {
  background-color: #f5576c;
}

.bg-success {
  background-color: #B3D369;
}

.bg-orange {
  background-color: #FF9131;
}

.bg-warning {
  background-color: #FFBC09;
}

.bg-pink {
  background-color: #FF69B4;
}

.bg-primary {
  background-color: #36D4ED;
}

.btn-warning {
  color: #FFF !important;
  background-color: #FFBC09;
  overflow: hidden;
  position: relative;
}

.btn-warning:hover {
  color: #FFF !important;
  background-color: #DF9C00;
}

.btn-warning::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 2em;
  display: block;
  position: absolute;
  top: 0;
  left: -6rem;
  -webkit-transform: skewX(-45deg) translateX(0);
          transform: skewX(-45deg) translateX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-warning:hover::before {
  -webkit-transform: skewX(-45deg) translateX(20rem);
          transform: skewX(-45deg) translateX(20rem);
}

.btn-outline-light {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: transparent;
  border-style: solid;
  padding: 12px 28px;
  position: relative;
  color: white;
  overflow: hidden;
  z-index: 2;
}

.btn-outline-light::before {
  content: "";
  width: 160px !important;
  height: 55px !important;
  position: absolute;
  background-color: white;
  top: -5px;
  left: -200px;
  z-index: 9;
}

.btn-outline-light:hover::before {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  top: -5px;
  left: -5px;
  z-index: -1;
}

.btn-outline-light::after {
  content: "";
  width: 160px;
  height: 55px;
  position: absolute;
  background-color: white;
  top: -5px;
  left: 170px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.btn-outline-light:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #FFBC09;
}

.btn-outline-light:hover::after {
  z-index: -1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  top: -5px;
  left: -5px;
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

#header-contact-info {
  background-color: #343a40;
  color: #FFF;
  font-size: 14px;
  padding: 15px 0px;
}

#header-contact-info .contact li a i {
  margin: 0px 2px;
  font-size: 16px;
}

#header-contact-info .social li a {
  margin: 0px 8px;
}

#header-contact-info .social li .border-left {
  margin: 0;
  padding-left: 8px;
}

#header-contact-info .button li {
  overflow: hidden;
}

#myNavbar .navbar {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 68px;
}

#myNavbar .scrolled {
  top: 0px;
}

#primary-slider .items {
  position: relative;
}

#primary-slider .items .item {
  text-align: center;
}

#primary-slider .items .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#primary-slider .items .item img {
  height: 800px;
}

#primary-slider .items .item h1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 2;
  color: #FFF;
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  opacity: 0;
}

#primary-slider .items .item h4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 2;
  color: #FFF;
  font-size: 20px;
  opacity: 0;
}

#primary-slider .items .item ul {
  position: absolute;
  width: 100%;
  top: 70%;
  left: 0;
  z-index: 2;
  opacity: 0;
}

#primary-slider .items .item ul li {
  margin: 0px 10px;
}

#primary-slider .items .item ul li a {
  padding: 12px 30px;
}

#primary-slider .items .owl-prev {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  top: 60%;
  left: 20px;
  z-index: 2;
}

#primary-slider .items .owl-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  top: 60%;
  right: 20px;
  z-index: 2;
}

#primary-slider .items .owl-prev i, #primary-slider .items .owl-next i {
  font-size: 40px;
  color: #ccc;
}

#primary-slider .items:hover .owl-prev {
  opacity: 1;
}

#primary-slider .items:hover .owl-next {
  opacity: 1;
}

#primary-slider .items:hover .owl-prev i, #primary-slider .items:hover .owl-next i {
  font-size: 40px;
  color: #ccc;
}

.section_header_text {
  margin-bottom: 15px;
}

.section_header_text h2 {
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #292b2c;
}

.section_header_text p {
  font-size: 16px;
  color: #888888;
  margin-bottom: 1rem;
  line-height: 1.5;
}

#whyEduglobal {
  background-color: #F7F7F7;
  padding: 100px 0px;
}

#whyEduglobal .icon-box {
  text-align: center;
  padding: 30px;
  z-index: 9;
  margin-top: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
          box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
  border-radius: 10px;
}

#whyEduglobal .icon-box:hover {
  margin-top: 20px;
}

#whyEduglobal .icon-box:hover .icon::before {
  margin: 5px;
  opacity: 1;
}

#whyEduglobal .icon-box .icon {
  border-radius: 100%;
  display: inline-block;
  padding: 20px;
  position: relative;
}

#whyEduglobal .icon-box .icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  border-radius: 100%;
  margin: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#whyEduglobal .icon-box .icon img {
  max-width: 60px;
  padding: 5px;
}

#whyEduglobal .icon-box .about-icon h5 {
  padding-bottom: 5px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  color: #292b2c;
  font-weight: 500;
  line-height: 1.2;
}

#whyEduglobal .icon-box .about-icon p {
  font-size: 16px;
  color: #888888;
  margin-bottom: 1rem;
  line-height: 1.5;
}

#catigories {
  padding: 100px 0px;
}

#catigories .items {
  position: relative;
  text-align: center;
}

#catigories .items .item {
  padding: 30px 20px;
  border-radius: 5px;
}

#catigories .items .item a {
  color: white;
}

#catigories .items .item a i {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
}

#catigories .items .owl-prev {
  position: absolute;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  background-color: #FFF;
  width: 40px;
  height: 40px;
  opacity: 0;
  display: none;
  top: 35%;
  left: -40px;
  z-index: 2;
}

#catigories .items .owl-next {
  position: absolute;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  background-color: #FFF;
  width: 40px;
  height: 40px;
  display: none;
  opacity: 0;
  top: 35%;
  right: -40px;
  z-index: 2;
}

#catigories .items .owl-prev span, #catigories .items .owl-next span {
  font-size: 30px;
  color: #000;
}

#catigories .items:hover {
  /* Safari 4.0 - 8.0 */
  /* Standard syntax */
  /* Standard syntax */
}

#catigories .items:hover .owl-prev {
  -webkit-animation-name: left;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.8s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
  animation-name: left;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

#catigories .items:hover .owl-next {
  -webkit-animation-name: right;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.8s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
  animation-name: right;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes left {
  from {
    display: none;
    opacity: 0;
    left: -40px;
  }
  to {
    display: block;
    opacity: 1;
    left: -10px;
  }
}

@keyframes left {
  from {
    display: none;
    opacity: 0;
    left: -40px;
  }
  to {
    display: block;
    opacity: 1;
    left: -10px;
  }
}

@-webkit-keyframes right {
  from {
    display: none;
    opacity: 0;
    right: -40px;
  }
  to {
    display: block;
    opacity: 1;
    right: -10px;
  }
}

@keyframes right {
  from {
    display: none;
    opacity: 0;
    right: -40px;
  }
  to {
    display: block;
    opacity: 1;
    right: -10px;
  }
}

#about_us .section_header_text {
  padding: 60px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: -70px;
  z-index: 5;
  border-radius: 0 200px 200px 0;
  background-color: white;
}

#about_us .section_header_text ul li {
  display: inline-block;
}

#about_us .section_header_text ul li span {
  font-size: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

#about_us .section_header_text ul li h6 {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #292b2c;
}

#about_us .right-action {
  position: relative;
  z-index: 1;
}

#about_us .right-action::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#about_us .right-action a {
  position: absolute;
  top: 50%;
  left: 50%;
}

#about_us .right-action a i {
  font-size: 15px;
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  color: #DF9C00;
  z-index: 999;
}

#about_us .right-action a::after {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.589);
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
  z-index: 1;
}

#our_courses {
  margin: 100px 0px;
  overflow: hidden;
}

#our_courses .content-box {
  overflow: hidden;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#our_courses .content-box:hover .content-img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#our_courses .content-box .content-img {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#our_courses .content-box .content-img a img {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1);
  width: 100%;
}

#our_courses .content-box .about {
  padding: 15px;
}

#our_courses .content-box .about h4 {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #292b2c;
}

#our_courses .content-box .about h4 a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #292b2c;
}

#our_courses .content-box .about h4 a:hover {
  color: #FFBC09 !important;
}

#our_courses .content-box .about p {
  font-size: 16px;
  color: #888888;
  margin-bottom: 1rem;
  line-height: 1.5;
}

#our_courses .content-box .about .courses_info .rating_stars i {
  color: #FFBC09;
}

#our_courses .content-box .about .courses_info .content_meta li {
  margin: 0 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: 16px;
}

#our_courses .content-box .about .courses_info .content_meta li:hover {
  color: #FFBC09 !important;
}

#our_courses .content-box .footer {
  border-top: 1px solid #8888883b;
  padding: 15px;
}

#our_courses .content-box .footer .teacher img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#our_courses .content-box .footer .teacher a {
  margin: 0 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #292b2c;
}

#our_courses .content-box .footer .teacher:hover a {
  color: #FFBC09 !important;
}

#our_courses .content-box .price span:hover {
  background-color: #007bff;
}

#our_courses .all_courses {
  margin-top: 50px;
}

#our_courses .pages {
  padding: 50px 0px;
  text-align: center;
}

#our_courses .pages span {
  cursor: pointer;
  padding: 8px 16px;
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #adadad;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#our_courses .pages span:first-child {
  padding: 8px 12px;
}

#our_courses .pages span:nth-child(2) {
  background-color: #FFBC09;
  color: white;
  border-color: #FFBC09;
}

#counter {
  position: relative;
  background: transparent;
  overflow: hidden;
  z-index: 1;
  padding: 100px 0;
  width: 100%;
}

#counter .bg-image {
  position: absolute;
  background-image: url(../images/counter/counter_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1519px;
  height: 563px;
  -webkit-transform: translate3d(0px, -208.6px, 0px);
          transform: translate3d(0px, -208.6px, 0px);
  -webkit-transition: -webkit-transform 100ms ease 0s;
  transition: -webkit-transform 100ms ease 0s;
  transition: transform 100ms ease 0s;
  transition: transform 100ms ease 0s, -webkit-transform 100ms ease 0s;
  z-index: -1;
}

#counter .bg-image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(7, 41, 77, 0.7);
}

#counter .counter-box .counter-icon img {
  max-width: 60px;
  margin-bottom: 15px;
  color: white;
}

#counter .counter-box .counter-content h3 {
  font-size: 30px;
  color: white;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

#counter .counter-box .counter-content p {
  color: white;
}

#events {
  padding: 100px 0;
}

#events .content-box {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#events .content-box:hover .content-img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#events .content-box .content-img {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#events .content-box .content-img a img {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1);
  width: 100%;
}

#events .content-box .event-date {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 75px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

#events .content-box .event-date h5 {
  font-size: 14px;
  padding: 5px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

#events .content-box .event-date h5 span {
  display: block;
  font-size: 24px;
  padding: 5px;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Rubik", sans-serif;
}

#events .content-box .event-date .event-time {
  display: block;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #FFBC09;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  line-height: 1.4;
}

#events .content-box .about {
  padding: 15px;
}

#events .content-box .about h4 {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #292b2c;
}

#events .content-box .about h4 a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #292b2c;
}

#events .content-box .about h4 a:hover {
  color: #FFBC09 !important;
}

#events .content-box .about .list-none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#events .content-box .about .list-none li {
  float: left;
  padding-right: 15px;
  font-size: 15px;
}

#events .content-box .about .list-none li i {
  margin-right: 6px;
  font-size: 14px;
  color: #888888;
}

#events .content-box .about .list-none li .text-default {
  color: #FFBC09;
}

#events .content-box .about p {
  font-size: 16px;
  color: #888888;
  line-height: 1.5;
}

#events .pages {
  padding: 50px 0px;
  text-align: center;
}

#events .pages span {
  cursor: pointer;
  padding: 8px 16px;
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #adadad;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#events .pages span:first-child {
  padding: 8px 12px;
}

#events .pages span:nth-child(2) {
  background-color: #FFBC09;
  color: white;
  border-color: #FFBC09;
}

#register-now {
  padding-top: 100px;
  background-image: url(../images/pattern_bg.png);
  background-position: center center;
  background-size: cover;
  background-color: #07294D;
}

#register-now .register-form {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8%;
  border-radius: 10px;
}

#register-now .register-form .head {
  margin: 16px;
  text-align: start;
  width: 100%;
}

#register-now .register-form .head h2 {
  font-weight: 500;
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  color: white;
}

#register-now .register-form .head h2 span {
  color: #FFBC09;
}

#register-now .register-form p {
  margin: 0 16px 16px 16px;
  text-align: start;
  width: 100%;
  color: white;
  line-height: 1.6;
  font-size: 16px;
}

#register-now .register-form .form-group textarea {
  min-height: 165px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#register-now .register-form .form-group input, #register-now .register-form .form-group select, #register-now .register-form .form-group textarea {
  background-color: transparent;
  color: #fff;
}

#register-now .register-form .form-group input::-webkit-input-placeholder, #register-now .register-form .form-group select::-webkit-input-placeholder, #register-now .register-form .form-group textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

#register-now .register-form .form-group input:-ms-input-placeholder, #register-now .register-form .form-group select:-ms-input-placeholder, #register-now .register-form .form-group textarea:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

#register-now .register-form .form-group input::-ms-input-placeholder, #register-now .register-form .form-group select::-ms-input-placeholder, #register-now .register-form .form-group textarea::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

#register-now .register-form .form-group input::placeholder, #register-now .register-form .form-group select::placeholder, #register-now .register-form .form-group textarea::placeholder {
  color: #fff;
  opacity: 1;
}

#register-now .register-form .form-group .form-control {
  height: 45px;
  padding: 10px 20px;
}

#register-now .register-form .btn {
  padding: 12px 30px;
}

#gallery {
  padding: 100px 0px;
}

#gallery .button-group ul .current h5 {
  background-color: #FFBC09;
  color: #fff !important;
}

#gallery .button-group ul li {
  display: inline-block;
  margin: 0 3px;
  overflow: hidden;
}

#gallery .button-group ul li h5 {
  background-color: #eee;
  padding: 5px 25px;
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 4px;
}

#gallery .button-group ul li h5:hover {
  background-color: #FFBC09;
  color: #fff !important;
}

#gallery .grid .element-item img {
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
}

#our-teachers {
  margin: 100px 0px;
  background-image: url("../images/teachers/teacher_bg.jpg");
}

#our-teachers .section_header_text h2 {
  color: white;
}

#our-teachers .section_header_text p {
  color: white;
}

#our-teachers .container-fluid {
  background-color: rgba(7, 41, 77, 0.9);
  padding: 100px 0;
}

#our-teachers .header-section {
  color: white;
  padding: 20px;
}

#our-teachers .header-section p {
  opacity: 1;
}

#our-teachers .item {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

#our-teachers .item .img {
  background-color: black;
}

#our-teachers .item .img img {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#our-teachers .item .about-teacher {
  background-color: white;
  padding: 10px;
  text-align: center;
}

#our-teachers .item .about-teacher a {
  font-weight: 500;
  color: black;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#our-teachers .item .about-teacher a:hover {
  text-decoration: none;
  color: #DF9C00;
}

#our-teachers .item .icons {
  color: white;
  font-size: 18px;
  position: absolute;
  left: 50px;
  top: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

#our-teachers .item .icons i {
  padding: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#our-teachers .item .icons i:hover {
  color: #DF9C00;
}

#our-teachers .item:hover .img img {
  opacity: 0.5;
}

#our-teachers .item:hover .icons {
  opacity: 1;
  top: 100px;
}

#student-say .items .item {
  border-radius: 10px;
  padding: 30px 30px 30px 70px;
  -webkit-box-shadow: 0px 0px 10px 0px #bbbbbb;
          box-shadow: 0px 0px 10px 0px #bbbbbb;
  margin: 50px;
  position: relative;
}

#student-say .items .item h1 {
  font-weight: 700;
}

#student-say .items .item i {
  color: #DF9C00;
}

#student-say .items .item p {
  opacity: 0.7;
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.5;
}

#student-say .items .item .img {
  position: absolute;
  top: 30px;
  left: -50px;
  border-radius: 5px;
  overflow: hidden;
}

#student-say .items .item:focus {
  outline: none;
}

#blog {
  background-color: #eeeeee;
  padding: 100px 0;
}

#blog h1 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 60px;
}

#blog .items .item {
  margin-bottom: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px #bbbbbb;
          box-shadow: 0px 0px 10px 0px #bbbbbb;
  border-radius: 10px;
  overflow: hidden;
}

#blog .items .item .img {
  background-color: black;
}

#blog .items .item .img img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#blog .items .item .about-item {
  padding: 15px;
}

#blog .items .item .about-item p {
  font-size: 16px;
  color: #888888;
  line-height: 1.5;
}

#blog .items .item .about-item h5 {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #292b2c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#blog .items .item .about-item h5:hover {
  color: #DF9C00;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#blog .items .item .about-item a {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #292b2c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#blog .items .item .about-item a:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #DF9C00;
}

#blog .items .item .about-share {
  padding: 15px;
}

#blog .items .item .about-share i {
  color: #DF9C00;
}

#blog .items .item .about-share a {
  font-size: 16px;
  color: #888888;
  line-height: 1.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 20px 0 10px;
}

#blog .items .item .about-share a:hover {
  text-decoration: none;
  color: #DF9C00;
}

#blog .items .item .fa-link {
  color: #DF9C00;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  padding-left: 5px;
  text-align: center;
  position: absolute;
  top: 38%;
  left: 43%;
  background-color: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

#blog .items .item .fa-link::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  z-index: -1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-name: chain;
          animation-name: chain;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#blog .items .item:hover img {
  opacity: 0.5;
}

#blog .items .item:hover .fa-link {
  opacity: 1;
  top: 16%;
}

@-webkit-keyframes chain {
  0% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  30% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  30.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  60% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  60.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
}

@keyframes chain {
  0% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  30% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  30.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  60% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  60.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
}

#clients {
  padding: 100px 0px;
}

#clients .items {
  margin: 20px 0px;
}

#clients .items img {
  opacity: 0.7;
}

#traning {
  padding: 75px 0px;
}

#traning h2 {
  color: white;
}

#traning p {
  color: white;
}

#footer-nav {
  padding: 60px 0;
  background-color: #3b3b3b;
  color: white;
}

#footer-nav .contact {
  width: 25%;
}

#footer-nav .contact p {
  font-size: 16px;
  color: white;
  margin-bottom: 1rem;
  line-height: 1.5;
}

#footer-nav .contact p i {
  margin-right: 10px;
}

#footer-nav .navigation-footer {
  padding: 0 40px 0 20px;
  position: relative;
}

#footer-nav .navigation-footer ul {
  padding: 0;
}

#footer-nav .navigation-footer ul li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  list-style: none;
  padding-bottom: 25px;
}

#footer-nav .navigation-footer ul li:hover {
  margin-left: 10px;
}

#footer-nav .navigation-footer ul li a {
  position: absolute;
  display: inline-block;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer-nav .navigation-footer ul li a:hover {
  color: #FFBC09;
  text-decoration: none;
}

#footer-nav h5 {
  padding: 12px 0 19px 0;
}

#footer-nav .posts {
  padding-right: 15px;
  width: 280px;
}

#footer-nav .posts p {
  font-size: 12px;
  color: white;
  margin-bottom: 1rem;
  line-height: 1.5;
}

#footer-nav .posts .post span p:nth-child(1) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer-nav .posts .post span p:nth-child(1):hover {
  color: #FFBC09;
}

#footer-nav .posts .post span:nth-child(2) {
  opacity: 0.7;
}

#footer-nav .subscribe {
  width: 300px;
}

#footer-nav .subscribe form {
  width: 260px;
  padding: 5px;
  background-color: white;
}

#footer-nav .subscribe form input {
  border-style: none;
  width: 160px;
}

#footer-nav .subscribe p {
  font-size: 16px;
  color: white;
  margin-bottom: 1rem;
  line-height: 1.5;
}

#footer-nav .subscribe i {
  width: 40px;
  background-color: rgba(255, 255, 255, 0.226);
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  margin: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer-nav .subscribe i:hover {
  color: #FFBC09;
}

#private {
  background-color: #222222;
  padding: 30px;
  text-align: center;
  color: white;
}

#private a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#private a:hover {
  color: #FFBC09;
  text-decoration: none;
}

#secondary-header {
  background-image: url("../images/about_bg.jpg");
  background-size: cover;
  background-position-y: center;
}

#secondary-header .container-fluid {
  padding: 80px 0;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.6);
}

#secondary-header .container-fluid h1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
  font-family: "Rubik", sans-serif;
}

#secondary-header .container-fluid h5 {
  color: white;
  line-height: 50px;
}

#secondary-header .container-fluid h5 a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#secondary-header .container-fluid h5 a:hover {
  text-decoration: none;
  color: #DF9C00;
}
/*# sourceMappingURL=style.css.map */