.bg-danger{
    background-color:  #f5576c;
}
.bg-success{
    background-color: #B3D369;
}
.bg-orange{
   background-color:  #FF9131;
}
.bg-warning{
    background-color:  #FFBC09;
}

.bg-pink{
    background-color: #FF69B4;
}
.bg-primary{
    background-color: #36D4ED;
}

