#register-now{
    padding-top: 100px;
    background-image: url(../images/pattern_bg.png);
    background-position: center center;
    background-size: cover;
    background-color: #07294D;
    .register-form{
        background-color: rgba(255,255,255,0.1);
        padding: 8%;
        border-radius: 10px;
        .head{
            margin: 16px;
        text-align: start;
        width: 100%;
        h2{
            font-weight: 500;
            font-size: $font-size-1;
            font-family: $font-familyRubik;
            color: white;
            span{
                color: $color-primary-light;
            }
        }
    }
    p{
        margin: 0 16px 16px 16px;
        text-align: start;
        width: 100%;
        color: white;
        line-height: 1.6;
        font-size: $font-size-text;

    }
    .form-group{
        textarea{
            min-height: 165px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        input, select ,textarea{
        background-color: transparent;
        color: #fff;
        &::placeholder {
            color: #fff;
            opacity: 1;
          }
        }
        .form-control{
                height: 45px;
                padding: 10px 20px;
        }
    }
    .btn{
        padding: 12px 30px;
    }
    }
    
}
