
// font family
$font-familyRoboto: 'Roboto',
sans-serif;
$font-familyRubik: 'Rubik',
sans-serif;


// colors
$color-primary-light : #FFBC09;
$color-primary-dark : #DF9C00;
$hepler-color-red-light: #F5576C;
$hepler-color-white: #FFF;
$bg-color:#343a40;
$header-text-color:#292b2c;
$text-color : #888888;

// font size 
$font-size-big: 50px;
$font-size-1: 32px;
$font-size-2: 24px;
$font-size-3: 20px;
$font-size-text: 16px;
$font-size-span: 14px;

